<section  class= "p-2">
  <h2 class="m-4">Create New Post</h2>

  <form class="new-post-form border border-3 border-light rounded p-4 m-4 shadow">
    <div class="input-group mb-3">
      <label class="input-group-text" for="post-title">Title</label>
      <input class="form-control" type="text" id="post-title" name="post-title" />
    </div>
    <div class="input-group mb-3">
      <label class="input-group-text" for="post-text">Blog</label>
      <input class="form-control" id="post-text" name="post-text" />
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
  </form>
</section>

{{#if posts.length}}
<section class= "p-2">
  <h2 class="m-4">Your Posts</h2>
  <ol class="list-group m-4 shadow-lg">
    {{#each posts as |post|}}
    <li class="list-group-item list-bg border border-3 m-3">
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>


