<div class="list-group-item list-bg border border-3 m-4">
{{> post-info post}}
</div>

{{#if loggedIn}}
<form class="comment-form border border-3 border-light rounded p-4 m-4 shadow">
  <div class="input-group mb-3">
    <textarea class="form-control" name="comment-body"></textarea>
  </div>

  <div class="input-group mb-3">
    <button class="btn btn-primary" type="submit">add comment</button>
  </div>
</form>
{{/if}}


{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>

{{/if}}




